<div class="container">
  <nav>
    <ul>
      <li data-tooltip="Go to home" data-placement="right"><strong><%= link_to 'Friend List', root_path %></strong></li>

    </ul>
    <ul>
      <li><%= link_to 'About us', home_about_path %></li>
      <li><%= link_to 'Friend', friends_path %></li>
      <li><%= link_to 'New Friend', new_friend_path %></li>
    </ul>
  </nav>
</div>
